# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs tmp files
*~

# Qtcreator cmake files
*.user

# Qtcreator build files
build/*
bin*/*